<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Event Manager</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body id="home" class="ScrollSpy">
  <div class="navbar-fixed">
    <nav class="teal darken-2">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#home" class="brand-logo">Event Manager</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="class right hide-on-med-and-down">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#search">Search</a>
            </li>
            <li>
              <a href="#popular">Popular places</a>
            </li>
            <li>
              <a href="#gallery">Gallery</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="side-nav" id="mobile-nav">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#search">Search</a>
    </li>
    <li>
      <a href="#popular">Popular places</a>
    </li>
    <li>
      <a href="#gallery">Gallery</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>

  <!-- Section Slider-->

  <section class="slider">
    <ul class="slides">
      <li>
        <img src="img/event.jpeg" alt="">
        <div class="caption center-align">
          <h2>Book Your Occassions</h2>
          <h5 class="dark white-text text-accent-3 hide-on-small-only">Are you looking for the right venue to book your weddings, seminars, parties amongst others! you are at the right
            place
          </h5>
          <a href="#" class="btn btn-large">Book Now</a>
        </div>
      </li>
      <li>
        <img src="img/event1.jpeg" alt="">
        <div class="caption left-align">
          <h2>We work with all Budget</h2>
          <h5 class="light gray-text text-lignten-3 hide-on-small-only">Are you looking for the right venue to book your weddings, seminars, parties amongst others! you are at the right
            place
          </h5>
          <a href="#" class="btn btn-large">Book Now</a>
        </div>
      </li>
      <li>
        <img src="img/event2.jpeg" alt="">
        <div class="caption center-align">
          <h2>Group and Individual Hangouts</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Are you looking for the right venue to book your weddings, seminars, parties amongst others! you are at the right
            place
          </h5>
          <a href="#" class="btn btn-large">Book Now</a>
        </div>
      </li>
    </ul>
  </section>

  <!--secton search -->
  <section id="search" class="section section-search teal darken-2 white-text center ">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3 class="Scrollspy">Search By Location</h3>
          <div class="input-field">
            <input class="white grey-text autocomplete" placeholder="Search by States" type="text" id="autocomplete-input">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- section -->
  <section class="section section-icons grey lighten-4 center">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="teal-text">Explore Centers</span>
        </h4>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">event_seat</i>
            <h4>Pick Where</h4>
            <p>Checkout our various locations to pick a venue that matches your desired event</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">widgets</i>
            <h4>Event Store</h4>
            <p>Checkout our various locations to pick a venue that matches your desired event</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">streetview</i>
            <h4>Pick Where</h4>
            <p>Checkout our various locations to pick a venue that matches your desired event</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!--Popular section -->
  <section id="popular" class="section section-popular">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="teal-text Scrollspy">Popular</span> Event centers</h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="img/popular3.jpeg" alt="">
              <span class="card-title">Muson Center</span>
            </div>
            <div class="card-content">
              <p>From musical theater to concerts to Fundraising shows or recitals, Muson centre is the IT place for all things
                Music and more in Lagos.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="img/popular2.jpg" alt="">
              <span class="card-title">Muson Center</span>
            </div>
            <div class="card-content">
              <p>From musical theater to concerts to Fundraising shows or recitals, Muson centre is the IT place for all things
                Music and more in Lagos.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="img/muson.jpg" alt="">
              <span class="card-title">Muson Center</span>
            </div>
            <div class="card-content">
              <p>From musical theater to concerts to Fundraising shows or recitals, Muson centre is the IT place for all things
                Music and more in Lagos.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <a href="#contact" class="btn btn-large grey darken-3">
            <i class="material-icons left">send</i> Contact for booking
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--social follow section-->
  <section class="section section-follow teal darken-2 white-text center">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>Follow Event Manager</h4>
          <p>Follow us on social media for special Offers</p>
          <a href="https://www.facebook.com/" target="_blank" class="white-text">
            <i class="fab fa-facebook fa-4x"></i>
          </a>
          <a href="https://www.whatsapp.com/" target="_blank" class="white-text">
            <i class="fab fa-whatsapp fa-4x"></i>
          </a>
          <a href="https://www.twitter.com/" target="_blank" class="white-text">
            <i class="fab fa-twitter fa-4x"></i>
          </a>
          <a href="https://www.instagram.com/" target="_blank" class="white-text">
            <i class="fab fa-instagram fa-4x"></i>
          </a>
          <a href="https://www.linkedin.com" target="_blank" class="white-text">
            <i class="fab fa-linkedin fa-4x"></i>
          </a>
          <a href="https://www.googleplus.com/" target="_blank" class="white-text">
            <i class="fab fa-google-plus fa-4x"></i>
          </a>
          <a href="https://www.pinterest.com/" target="_blank" class="white-text">
            <i class="fab fa-pinterest fa-4x"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Gallery Section-->
  <section id="gallery" class="section section-gallery">
    <div class="container">
      <h4 class="center">
        <span class="teal-text Scrollspy">Photo </span>Gallery</h4>
      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery1.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery2.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery3.jpeg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery4.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery5.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery6.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery7.jpeg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery8.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery9.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery10.jpeg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="img/gallery11.jpeg" alt="">
        </div>
      </div>
    </div>
  </section>

  <!--contact us Section-->
  <section id="contact" class="section section-contact Scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel teal white-text center">
            <i class="material-icons medium">email</i>
            <h5>Contact us for your booking</h5>
            <p> Are you Looking At getting the right Place for your location? Leave us a message and we will be glad to respond</p>
          </div>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Location</h4>
            </li>
            <li class="collection-item">EventManager Agency</li>
            <li class="collection-item">13 Olarenwaju street, Akoka</li>
            <li class="collection-item">Lagos State, 23401</li>
          </ul>
        </div>
        <div class="col s12 m6">
          <div class="card-panel grey lighten-3">
            <h5> Please fill out the Form</h5>
            <div class="input-field">
              <input type="text" placeholder="name" id="name">
              <label for="name">Full Name</label>
            </div>
            <div class="input-field">
              <input type="email" placeholder="email" id="email">
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="text" placeholder="phone" id="phone">
              <label for="phone">Phone No</label>
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea" placeholder="Enter Message" id="Message"></textarea>
              <label for="">Message</label>
            </div>
            <input type="submit" value="submit" class="btn">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer-->
  <footer class="section teal darken-2 white-text center">
    <p class="flow-text">EventManager &copy;2018</p>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script>
    $(document).ready(function () {
      // init sidenav
      $('.button-collapse').sideNav();
      // init slider
      $('.slider').slider({
        indicators: false,
        height: 500,
        transition: 500,
        interval: 6000
      });

      // init autocomplete
      $('.autocomplete').autocomplete({
        data: {
          "Abia": null,
          "Adamawa": null,
          "Anambra": null,
          "Akwa Ibom": null,
          "Bauchi": null,
          "Cross River": null,
          " Delta": null,
          "Ebonyi": null,
          "Enugu": null,
          "Edo": null,
          "Ekiti": null,
          "Gombe": null,
          "Imo": null,
          "Jigawa": null,
          "Kaduna": null,
          "Kano": null,
          "Katsina": null,
          "Kogi": null,
          "Kwara": null,
          "Lagos": null,
          "Nasarawa": null,
          "Niger": null,
          "Ogun": null,
          "Ondo": null,
          "Osun": null,
          "Oyo": null,
          "Plateau": null,
          "Rivers": null,
          "Sokoto": null,
          "Taraba": null,
          "Yobe": null,
          "Zamfara": null,
          "Abuja": null,
        }
      });

      // init Scrollspy
      $('.Scrollspy').ScrollSpy();
    });
  </script>

</body>

</html>